.dark-theme {
    background-color: #111;
}

.navbar-title-text {
    font-family: 'Gothic A1';
    color: #FFF;
    font-weight: 200 !important;
    font-size: calc(1.2vw + 20px);
}

.nav-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-logo {
    width: calc(1.2vw + 40px);
}

.nav-logo-text {
    color: #FFF;
    font-family: 'Gothic A1';
    font-weight: 600;
    font-size: calc(1.2vw + 5px);
}

.flex-container {
    display: flex;
    justify-content: space-between !important;
    padding-left: 5%;
    padding-right: 5%;
}