@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300&display=swap');
.page-container {
  background-color: #000 !important;
  background-size: cover;
  min-height: calc(100vh);
}

.landing-main-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yinyang {
  height: calc(70vh);
  -webkit-animation:spin 20s linear infinite;
  -moz-animation:spin 20s linear infinite;
  animation:spin 20s linear infinite;
}
@-moz-keyframes spin { 
  100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
  100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
  100% { 
      -webkit-transform: rotate(360deg); 
      transform:rotate(360deg); 
  } 
}

